<!DOCTYPE html>
<html lang="en">

    <head>
       {{>headerLink}}

        <title>About</title>
    </head>


    <body>
        {{>navbar}}
    
            <!-- Main Header -->
            <div class="container-fluid main_Header">
                <div class="row">
                    <div class="col-md-10 col-12 mx-auto">
                        <div class="row">
                            <!-- left side div -->
                            <div class="col-md-12 col-12 main_header_right align-items-center">
                               <figure class="errimg">
                                    <img src="new.png" alt="404 error" class="img-fluid" title="nothing">
                                </figure>
                                 <p>404 error </p>
                        <h1>{{errormsg}}
                            
                        </h1>
                        <a href="/">
                            <button class="btn btn-outline-primary">Home</button>
                        </a>
                        </div>
                                
                           

                            </div>
                            <!-- right side div -->
                            
                            
                            
                        </div>

                    </div>

                </div>

            </div>
            <!-- footer code -->
           {{>footer}}
    </body>
</html>
