<!DOCTYPE html>
<html lang="en">

    <head>
        {{>headerLink}}

        <title>About</title>
    </head>


    <body>
        {{>navbar}}

        <!-- Main Header -->
        <div class="container-fluid main_Header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div
                        class="row">
                        <!-- left side div -->
                        <div class="col-md-6 col-12 main_header_right align-items-center">

                            <figure>
                                <img src="about.png" alt="404 error" class="img-fluid" title="nothing">
                            </figure>


                        </div>
                        <!-- right side div -->
                        <div class="col-md-6 col-12 main_header_left">

                            <p>Hi,There
                            </p>
                            <h1>I am Hritik Arora
                                <span class="text_color">I am a web-devloper</span>
                                
                            </h1>
                            <a href="/">
                                <button class="btn btn-outline-primary">Home</button>
                            </a>

                        </div>


                    </div>

                </div>

            </div>

        </div>
        <!-- footer code -->
        {{>footer}}
    </body>
</html>
